@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

*{
  padding: 0;
  margin: 0;
}

body{
  /* height: 100vh; */
  background-color: #000000;
  color: #f6f6f6;
  box-sizing: border-box;
}

.titulo-destaque{
  color: #22d4fd;
}

.apresentacao{
  padding: 8% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apresentacao__conteudo{
  width: 615px;
  /* height: 482px; */
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao__conteudo__titulo{
  font-family: 'krona one', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 56px;
}

.apresentacao__conteudo__texto{
  font-family: 'montserrat', sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}

.apresentacao__links{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.apresentacao__links__subtitulo{
  font-family: 'krona one', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.apresentacao__links__a{
  display: flex;
  justify-content: center;
  gap: 16px;
  font-size: 24px;
  font-weight: 600;
  font-family: 'montserrat', sans-serif;
  color: #f6f6f6;
  width: 378px;
  padding: 16px 0 16px 0;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  border: 2px solid #22d4fd;
}

.apresentacao__links__a:hover{
  background-color: #272727;
}

.rodape{
  font-family: 'montserrat', sans-serif;
  font-size: 24px;
  font-weight: 400;
  padding: 24px;
  text-align: center;
  background-color: #22d4fd;
  color: #000000;
}
