@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root{
  --cor-primaria: #61A3BA;
  --cor-secundaria: #FFFFDD;
  --cor-terciaria: #D2DE32;
  --cor-hover: #A2C579;

  --fonte-primaria: font-family: 'krona one', sans-serif;
  --fonte-secundaria: font-family: 'montserrat', sans-serif;
}

*{
  padding: 0;
  margin: 0;
}

body{
  /* height: 100vh; */
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  box-sizing: border-box;
}
/* Menu */

.cabecalho{
  padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
  display: flex;
  gap: 80px;
}

.cabecalho__menu__link{
  font-family: var(--fonte-secundaria);
  font-size: 24px;
  font-weight: 600;
  color: var(--cor-terciaria);
  text-decoration: none;
}


.apresentacao{
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apresentacao__conteudo{
  width: 615px;
  /* height: 482px; */
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao__conteudo__titulo{
  font-family: var(--fonte-primaria);
  font-size: 36px;
  font-weight: 400;
  line-height: 56px;
}


.titulo-destaque{
  color: var(--cor-terciaria);
}


.apresentacao__conteudo__texto{
  font-family: var(--fonte-secundaria);
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}

.apresentacao__links{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.apresentacao__links__subtitulo{
  font-family: var(--fonte-primaria);
  font-weight: 400;
  font-size: 24px;
}

.apresentacao__links__a{
  display: flex;
  justify-content: center;
  gap: 16px;
  font-size: 24px;
  font-weight: 600;
  font-family: var(--fonte-secundaria);
  color: var(--cor-secundaria);
  width: 378px;
  padding: 16px 0 16px 0;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  border: 2px solid var(--cor-terciaria);
}

.apresentacao__links__a:hover{
  background-color: var(--cor-hover);
}

.rodape{
  font-family: var(--fonte-secundaria);
  font-size: 24px;
  font-weight: 400;
  padding: 24px;
  text-align: center;
  background-color: var(--cor-terciaria);
  color: var(--cor-primaria);
}
